body{
    background-color: rgb(206, 200, 142);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgb(216, 250, 250);
  }

  .card .box h2{
    color: rgb(254, 167, 53);
  }
  .card .box2 h2{
    color: rgb(254, 167, 53);
  }
  .card .box3 h3{
    color: rgb(254, 167, 53);
  }
  .card .box3 h2{
    color: rgb(254, 167, 53);
  }

  .card .table{
    word-spacing: 50px;
  }
  .card .box{
    background-color: rgb(143, 125, 101);
    border-radius: 20%;
    padding: 10px;
  }
  @media only screen and (max-width: 600px){
    body{
    background-color: rgb(206, 200, 142);
  }
}
@media only screen and (min-width: 992px){
    body{
        background-color: rgb(206, 200, 142);
    }
}